* {
    box-sizing: border-box;
}

body {
    color: #1f8f25;
	background-color: #111;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    background: #222222;
    width: 12px;
}

.inverted {
    color: white;
    background-color: #1f8f25;
}

.inverted td a {
    color: white;
}

a {
    color: #1f8f25;
}

a:visited {
    color: #135316;
}

a:active {
    color: #32da3a;
}